<plugin name='gravity' version='0.1' grailsVersion='2.0 &gt; *'>
  <author>Mario Garcia</author>
  <authorEmail>mario.ggar@bitability.com</authorEmail>
  <title>Gravity Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/gravity</documentation>
  <type>GravityGrailsPlugin</type>
  <resources>
    <resource>gravity.GravityController</resource>
  </resources>
  <repositories>
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='org.grails.plugins' name='gravity-core' version='1.0.0-SNAPSHOT' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>